<footer class="bg-dark text-light py-3" th:fragment="footer">
    <div class="container text-center">
        <p>&copy; 2025 Tienda de Videojuegos. Todos los derechos reservados.</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/nosotros" class="text-light">Nosotros</a></li>
            <li class="list-inline-item"><a href="/contacto" class="text-light">Contacto</a></li>
            <li class="list-inline-item"><a href="/privacidad" class="text-light">Privacidad</a></li>
        </ul>
    </div>
</footer>